html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding-top: 5vh;
  background-color: rgba(255, 188, 200, 0.753);

  
  
  /* Código para poner un cursor personalizado*/
 /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto; */

}

h1{
  font-size: 3.5em;
  font-family: oblique;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  color: rgb(71, 16, 25);

}

h1:hover{
  font-weight: 10em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(146, 36, 54);

}
h2 {
  font-size: xx-large;
   font-family: cursive;
   font-weight:700px;
    font-style: normal;
    text-align: center; 
    color: rgb(133, 32, 62);
}

#contenedor {
  margin: auto 1em;
  text-align: center;

}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: sans-serif;
}

#foto {
 height: 750px;
  border: #da3c79 solid 20px;
  margin-top: 20px;
}

.tituloPrediccion {
  font-size: 2em;
}

.prediccion {
  font-size: 1.5em;
    font-style: normal;
    text-align: center; 
    font-family: oblique;
    background-color: rgb(255, 234, 246);
    color:#a01946
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 0.9em;
  background-color: #a01946;
  color: white;
  margin-bottom: 2em;
  cursor: pointer;
}
